h1
           {
           font-size:250%;
           font-family:"Arial Black", Gadget, sans-serif;
           font-style:italic;
           }
#map_canvas
          {
           width: 500px;
           height: 500px;
	   float: left;
          }
#container
	{
	  height: 200px; 
	  float: left;
	}
